.fogot_password--container {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #87CEEB;
    border-radius: 15px;
    width: 300px;
    height: 150px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
}

.fogot_password--container div {
    width: 100%;
}

.fogot_password--container p span {
    font-weight: bold;
}

.close {
    position: absolute;
    top: 7px;
    right: 7px;
    color: red;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

@media(min-width: 767px) {
    .fogot_password--container {
        min-height: 150px;
        max-height: 300px;
        width: 100%;
    }
}